# Configurações do Banco de Dados PostgreSQL
POSTGRES_USER=seu_usuario_banco
POSTGRES_PASSWORD=sua_senha_secreta
POSTGRES_DB=achei_db

# Configurações do Servidor de Armazenamento MinIO (Clone S3)
MINIO_ROOT_USER=admin_storage
MINIO_ROOT_PASSWORD=senha_storage_super_secreta

# Credenciais da Aplicação para Acessar o S3
S3_ACCESS_KEY=admin_storage
S3_SECRET_KEY=senha_storage_super_secreta
S3_BUCKET=site-achei-uploads
